<form [formGroup]="form">
  <div formGroupName="fileFormGroup" class="row h-100 m-5 justify-content-center">

    <div class="col-sm-6 h-100 d-flex justify-content-center align-items-center ">
      <div class="text-center ">
        <button mat-fab color="primary" (click)="fileInput.click()">
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <mat-divider class="m-2"></mat-divider>
        <h4>Wrzuć nagrania</h4>
        <input hidden (change)="onFileSelected($event.target)" multiple #fileInput type="file">
      </div>
    </div>

    <div *ngIf="recordings.length >0" class="col-sm-6 h-100 d-flex align-items-center">
      <mat-list>
        @for (record of recordings; track record) {
        <mat-list-item>
          <mat-icon matListItemIcon>record_voice_over</mat-icon>
          <div matListItemTitle>{{record.name}}</div>
          <div matListItemTitle>{{record.type}}</div>
          <div matListItemLine>{{record.size | fileSize}}</div>
        </mat-list-item>
        }
      </mat-list>

      <!-- <ng-template #exampleRecordings>
      <mat-list disabled>
        <mat-list-item disabled>
          <mat-icon matListItemIcon disabled>record_voice_over</mat-icon>
          <div matListItemTitle>Rozmowa 1, Jan Kowalski - 29.12.2023.mp3</div>
          <div matListItemTitle>audio/mpeg</div>
          <div matListItemLine>18.2mb</div>
        </mat-list-item>
        <mat-list-item disabled>
          <mat-icon matListItemIcon>record_voice_over</mat-icon>
          <div matListItemTitle>Rozmowa 2, Alicja Darpińska - 04.01.2024.mp3</div>
          <div matListItemTitle>audio/mpeg</div>
          <div matListItemLine>26.8mb</div>
        </mat-list-item>
      </mat-list>
    </ng-template> -->
    </div>
  </div>
</form>